.product-detail-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #a39f9f;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .product-detail-header {
    font-size: 28px;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .product-info {
    padding: 20px;
    border-top: 1px solid #ddd;
  }